<h1>Listing weeks</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Startdate</th>
    <th>Enddate</th>
  </tr>

<% @weeks.each do |week| %>
  <tr>
    <td><%=h week.number %></td>
    <td><%=h week.startdate %></td>
    <td><%=h week.enddate %></td>
    <td><%= link_to 'Show', week %></td>
    <td><%= link_to 'Edit', edit_week_path(week) %></td>
    <td><%= link_to 'Destroy', week, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New week', new_week_path %>