<h1>New assignment</h1>

<% form_for(@assignment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :project %><br />
	<%= f.collection_select(:project_id, @projects, :id, :name, 
			options ={:prompt => "-Select a project"}, :class =>"project") %>
  </p>
  <p>
    <%= f.label :engineer %><br />
	<%= f.collection_select(:engineer_id, @engineers, :id, :display_name, 
			options ={:prompt => "-Select an engineer"}, :class =>"engineer") %>
  </p>
  <p>
    <%= f.label :week %><br />
	<%= f.collection_select(:week_id, @weeks, :id, :startdate, 
			options ={:prompt => "-Select a week"}, :class =>"week") %>
  </p>
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>

<%= link_to 'Back', assignments_path %>