-content_for :jsinclude do
  = javascript_include_tag 'assignments/assignments.js'

:javascript
  Ext.onReady(function(){
    render_assignments_grid();
  });

%h1 Listing Assignments

.assignments_grid{ :style => "border:5px solid #99bbe8; overflow:hidden; width:650px;"}

- Time::DATE_FORMATS[:week] = "%m/%d/%y" 
%table
  %tr
    %th Engineer
    - @weeks.each do |week|
      %th= week.startdate.to_s(:week)
  - rows = @assignments[:rows]
  - rows.each do |record|
    %tr
      %td= link_to "#{record[:engineer_displayname]}", engineer_path(record[:engineer_id])
      - (0..53).each do |index|
        %td= record["week#{index}".intern]
%br
= link_to 'New Assignment', new_assignment_path