<p>
  <b>name:</b>
  <%=h @manager.display_name %>
</p>

<table>
  <tr>
    <th>Firstname</th>
    <th>QA/SW</th>
	<th>Actions</th>
  </tr>

<% @manager.engineers.each do |engineer| %>
  <tr>
    <td><%=h engineer.display_name %></td>
	<td><%=h engineer.role %></td>
    <td><%= link_to 'Show', engineer %>
    <%= link_to 'Edit', edit_engineer_path(engineer) %>
    <%= link_to 'Destroy', engineer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', managers_path %>