-content_for :jsinclude do
  = javascript_include_tag 'projects/project_grid.js'
  = javascript_include_tag 'extjs/RowEditor.js'
  = javascript_include_tag 'MenuPanel.js'
  = javascript_include_tag 'projects/MainView.js'
  = stylesheet_link_tag 'engineergrid.css'

#header{:style => 'float:right;margin:5px;' :class => 'x-small-editor'}

