%p
  %b Name: 
  = @project.name
  
%table
  %tr
    %th Engineer
  - @weeks.each do |week|
    %th= week.startdate.to_s(:week)
    
  - @assignments.each do |assignment|
    %tr
      %td= link_to "#{assignment[:name]}", engineer_path(assignment[:current_engineer])
      - assignment[:week_data].each do |week|
        %td
          - if week[:id]
            = project_link(week[:name], week[:id]) if week[:id] 
          - else
            = 'Unassigned'
        
= link_to 'Edit', edit_project_path(@project)
= link_to 'Back', projects_path
  