<h1>Listing engineers</h1>

<table>
  <tr>
    <th>Firstname</th>
    <th>QA/SW</th>
	<th>Actions</th>
  </tr>

<% @engineers.each do |engineer| %>
  <tr>
    <td><%=h engineer.display_name %></td>
	<td><%=h engineer.role %></td>
    <td><%= link_to 'Show', engineer %>
    <%= link_to 'Edit', edit_engineer_path(engineer) %>
    <%= link_to 'Destroy', engineer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New engineer', new_engineer_path %>